name: Deploy bot

on: # quando o workflow vai ser executado e aonde (branch main)
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest # SO
    steps:
      - uses: actions/checkout@v5
      
      - name: Deploy to Hostinger
        uses: hostinger/deploy-on-vps@v2
        with:
          api-key: ${{ secrets.HOSTINGER_API_KEY }}
          virtual-machine: ${{ secrets.HOSTINGER_VM_ID }}
          project-name: months_bot
          docker-compose-path: docker-compose.yml
          environment-variables: |
            IMAP_HOST=${{ secrets.IMAP_HOST }}
            IMAP_PORT=${{ secrets.IMAP_PORT }}
            IMAP_USER=${{ secrets.IMAP_USER }}
            IMAP_PASSWORD=${{ secrets.IMAP_PASSWORD }}
            IMAP_SENDER=${{ secrets.IMAP_SENDER }}
            WHATSAPP_TARGET=${{ secrets.WHATSAPP_TARGET }}
            
            IMAP_TLS=true
            
